<!DOCTYPE html>
<html>
  <%- include partial/head %>
  <%- include partial/style %>


<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a>
    <a href="/student">Student</a>
  </div>

<!-- <div style="padding-left:16px">
<h2>Top Navigation Example</h2>
<p>Some content..</p>
</div>

</style>


  <body>
    <h2>Express Sequelize</h2>
    <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
        <a href="/teacher">Show Data Teacher</a>
        <a href="/subject">Show Data Subject</a>
        <a href="/student">Show Data Student</a>
      </div>
    </div> -->
  </body>
</html>
