<!DOCTYPE html>
<html>
  <%- include partial/head %>
  <body>
    <h1>ADD STUDENT DATA</h1>
    <form class="" action="/student/add" method="POST">
      <table>
        <tr>
          <th> First Name : </th>
          <td><input type="text" name="first_name" placeholder="First Name"></td>
          <th> Last Name : </th>
          <td><input type="text" name="last_name" placeholder="Last Name"></td>
          <th> Email : </th>
          <td><input type="email" name="email" placeholder="Email"></td>
          <td><input type="submit" value="SUBMIT"><td>
        </tr>
      </table>
    </form>
  </body>
</html>
