<!DOCTYPE html>
<html>
  <%- include partial/head %>
  <body>
    <h1>Subject Data</h1>
    <a href="/">Back to Home</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject Name</th>
          <th>Teacher Name</th>
        </tr>
      </thead>
      <tbody>
        <%data.forEach( row => { %>
          <tr>
            <td><%=row.id%></td>
            <td><%=row.subject_name%></td>
            <td>
                <% if(row.Teachers.length > 0) { %>
                  <% row.Teachers.forEach((teacher, index) => { %>
                    <%= (index+1) + '. ' + teacher.first_name + ' ' + teacher.last_name%>
                    <br></br>
                  <% }) %>
                  <% } else { %>
                    -
                <% } %>
              </td>
        </tr>
        <% })%>
    </tbody>
</table>
</body>
</html>
